nav{
    background-color: #252429;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px gainsboro;
    position: sticky;
    top: 0;
} 

.cart-layout{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    background-color:  #252429;
}

.banner{
    font-weight: bolder;
    background-color:  #252429;
    color: #e8e5ea;
}